
#footer p {
    font-size: 0.8em;
    font-weight: 100;
    margin-left: 1.5em;
}

#input input {
    height: 2.7em;
    text-align: center;
}

#input .input-wrap {
    margin-top: -1.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.ui-collapsible-content {
    margin-bottom: 0em !important;
}

.detail-note {
    color: gray;
}

#type-button {
    margin-top: 2em;
}

#popupAdd-popup {
    left: 10% !important;
    width: 80%;
    top: 5% !important;
    height: 60%;
}

#popupSettings-popup {
    left: 10% !important;
    width: 80%;
    top: 15% !important;
    height: 70%;
}

.add-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.fieldset {
    margin-top: 0.8em !important;
}
